<a href="https://colab.research.google.com/github/Caio365/teste/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num1 = 7
num2 = 3
soma = num1 + num2
print(f"Total de {num1} e {num2} é: {soma}")

Total de 7 e 3 é: 10

In [3]:
num1 = 7
num2 = 3

multiplicacao = num1 * num2

print(f"A multiplicaçao de {num1} e {num2} é: {multiplicacao}")

A multiplicaçao de 7 e 3 é: 21

In [6]:
nota1 = 2.5
nota2 = 7.5
nota3 = 4.5

media=(nota1 + nota2 + nota3) / 3

print(f"Sua Media é: {media}")

Sua Media é: 4.833333333333333

In [7]:
num1 = int(input("escreva um numero: "))

if num1 > 0:
    print("Seu número é positivo.")
elif num1 < 0:
    print("Seu número é negativo.")
else:
    print("Seu número é zero.")

escreva um numero: 6
Seu número é positivo.

In [8]:
num2 = int(input("Digite um número real e inteiro: "))

if num2 % 2 == 0:
    print("O número é par.")
else:
    print("O número é ímpar.")

Digite um número real e inteiro: 10
O número é par.

In [9]:
nota1 = 9.3
nota2 = 8.2
nota3 = 6.8

media = (nota1 + nota2 + nota3) / 3

print(f"Sua média das notas é: {media}")

if media >= 6.0:
  print("PARABÉNS VOCÊ FOI APROVADO.")
elif 4.0 <= media < 6.0:
  print("VOCÊ ESTÁ DE RECUPERAÇÃO.")
else:
  print("VOCÊ FOI REPROVADO, ESTUDE MAIS.")

Sua média das notas é: 8.1
PARABÉNS VOCÊ FOI APROVADO.

In [12]:
numero = 7

while numero <= 10:
 print(numero)
 numero += 1

7
8
9
10

In [13]:
for numero in range(1, 19):
 print(numero)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [14]:
num1 = int(input("Digite um número real e inteiro para a tabuada: "))

print(f"Tabuada do {num1}:")

for i in range(1, 19):

 resultado = num1 * i
 print(f"{num1} x {i} = {resultado}")

Digite um número real e inteiro para a tabuada: 5
Tabuada do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90

In [15]:
numero = 0

while numero <= 100:
 print(numero)
 numero += 10

0
10
20
30
40
50
60
70
80
90
100

In [17]:

for numero in range(0, 11, 20):
 print(numero)

0

In [19]:

def celsius_para_fahrenheit():
  try:
    celsius = float(input("Digite a temperatura em graus Celsius: "))
  except ValueError:
    print("Entrada inválida. Digite um número válido.")
    return

  fahrenheit = celsius * 1.8 + 32
  print(f"{celsius} graus Celsius equivalem a {fahrenheit} graus Fahrenheit.")

celsius_para_fahrenheit()

Digite a temperatura em graus Celsius: 32
32.0 graus Celsius equivalem a 89.6 graus Fahrenheit.

In [20]:
def calculadora():

  try:
    num1 = float(input("Digite o primeiro número: "))
    num2 = float(input("Digite o segundo número: "))
  except ValueError:
    print("Entrada inválida. Digite números válidos.")
    return

  operacao = input("Digite a operação (+, -, *, /): ")

  if operacao == '+':
    resultado = num1 + num2
  elif operacao == '-':
    resultado = num1 - num2
  elif operacao == '*':
    resultado = num1 * num2
  elif operacao == '/':
    if num2 == 0:
      print("Erro: divisão por zero.")
      return
    resultado = num1 / num2
  else:
    print("Operação inválida.")
    return

  print(f"Resultado: {resultado}")

calculadora()

Digite o primeiro número: 10
Digite o segundo número: 25
Digite a operação (+, -, *, /): /
Resultado: 0.4